@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/Noto_Sans/NotoSans-Medium.woff2') format('woff2'),
		 url('../fonts/Noto_Sans/NotoSans-Medium.woff') format('woff'),
		 url('../fonts/Noto_Sans/NotoSans-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'IBM Plex Serif';
	src: url('../fonts/IBM_Plex_Serif/IBMPlexSerif-Italic.woff2') format('woff2'),
		 url('../fonts/IBM_Plex_Serif/IBMPlexSerif-Italic.woff') format('woff'),
		 url('../fonts/IBM_Plex_Serif/IBMPlexSerif-Italic.ttf') format('truetype');
}

.ReactModal__Body--open {
	overflow-y: hidden;
}

@supports (-webkit-touch-callout: none) {
	.h-screen {
		height: -webkit-fill-available !important;
	}
}