.rangeInput {
	height: 27px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
	background: none;
}
.rangeInput:focus {
	outline: none;
}
.rangeInput::-webkit-slider-runnable-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	animate: 0.2s;
	background: linear-gradient(90deg, #DBDBDB 2.02%, #88E2A1 50.51%, #DBDBDB 98.99%);;
	border-radius: 2px;
	border: 1px solid #00000000;
}
.rangeInput::-webkit-slider-thumb {
	border: 2px solid #FFFFFF;
	height: 19px;
	width: 19px;
	border-radius: 19px;
	background: #000000;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7px;
}
.rangeInput:focus::-webkit-slider-runnable-track {
	background: linear-gradient(90deg, #DBDBDB 2.02%, #88E2A1 50.51%, #DBDBDB 98.99%);;
}
.rangeInput::-moz-range-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	animate: 0.2s;
	background: linear-gradient(90deg, #DBDBDB 2.02%, #88E2A1 50.51%, #DBDBDB 98.99%);;
	border-radius: 2px;
	border: 1px solid #00000000;
}
.rangeInput::-moz-range-thumb {
	border: 2px solid #FFFFFF;
	height: 19px;
	width: 19px;
	border-radius: 19px;
	background: #000000;
	cursor: pointer;
}
.rangeInput::-ms-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
.rangeInput::-ms-fill-lower {
	background: linear-gradient(90deg, #DBDBDB 2.02%, #88E2A1 50.51%, #DBDBDB 98.99%);;
	border: 1px solid #00000000;
	border-radius: 4px;
}
.rangeInput::-ms-fill-upper {
	background: linear-gradient(90deg, #DBDBDB 2.02%, #88E2A1 50.51%, #DBDBDB 98.99%);;
	border: 1px solid #00000000;
	border-radius: 4px;
}
.rangeInput::-ms-thumb {
	margin-top: 1px;
	border: 2px solid #FFFFFF;
	height: 19px;
	width: 19px;
	border-radius: 19px;
	background: #00000000;
	cursor: pointer;
}
.rangeInput:focus::-ms-fill-lower {
	background: linear-gradient(90deg, #DBDBDB 2.02%, #88E2A1 50.51%, #DBDBDB 98.99%);;
}
.rangeInput:focus::-ms-fill-upper {
	background: linear-gradient(90deg, #DBDBDB 2.02%, #88E2A1 50.51%, #DBDBDB 98.99%);;
}
