@import url("/fonts/bespoke-serif/bespoke-serif.css");
@import url("/fonts/noto-sans/noto-sans.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.min-height-96 {
	min-height: 26rem;
}

.hide-scroll-bar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
	display: none;
}

@font-face {
	font-family: "Noto-Reg";
	src: url("./assets/fonts/NotoSans-Regular.ttf");
}

@font-face {
	font-family: "Noto-Medium";
	src: url("./assets/fonts/NotoSans-Medium.ttf");
}

@font-face {
	font-family: "Noto-Semi";
	src: url("./assets/fonts/NotoSans-SemiBold.ttf");
}

@font-face {
	font-family: "Noto-Bold";
	src: url("./assets/fonts/NotoSans-Bold.ttf");
}

@font-face {
	font-family: "Noto-Black";
	src: url("./assets/fonts/NotoSans-Black.ttf");
}
